[Desktop Entry]\nEncoding=UTF-8\nType=Application\nExec=/bin/bash --rcfile /home/guest/Downloads/mubashir´s project/omnetpp-6.0/setenv\nTerminal=true\nIcon=/home/guest/Downloads/mubashir´s project/omnetpp-6.0/images/logo/logo128s.png\nName=OMNeT++ 6.0 Shell\nCategories=Development\n
