[Desktop Entry]\nEncoding=UTF-8\nType=Application\nExec=/home/guest/Downloads/mubashir´s project/omnetpp-6.0/bin/opp_ide\nIcon=/home/guest/Downloads/mubashir´s project/omnetpp-6.0/images/logo/logo128.png\nName=OMNeT++ 6.0 IDE\nCategories=Development\n
